@import url(reset.css);



/* Global Settings Start */
.container {
	max-width: 1200px;
	margin: 0 auto;
}
p {
	font-weight: 300;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: 100%;
}

.section-gap {
	padding: 150px 0;
}

.button {
	background: #242222;
	color: #f4f4f4;
	padding: 15px 20px;
	border-radius: 3px;
	font-size: 1rem;
	letter-spacing: 2px;
	transition: 0.3s;
	margin-top: 20px;
	display: inline-block;
}

.title-heading {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #333333;
}
.title {
	font-size: 4rem;
	text-transform: uppercase;
	color: #333333;
}
/* Global Settings End */


/* HEADER SECTION START */
.header {
	position: fixed;
	z-index: 999;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	background: transparent;
	padding: 0px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s;
}
.header .header__logo {
	font-size: 3rem;
	font-weight: 700;
	color: #ffffff;
}
.header .header__nav {
	padding-top: 10px;
}
.header .header__nav li {
	padding: 0 10px;
	display: inline-block;
}
.header .header__nav li a {
	font-size: 1rem;
	text-transform: uppercase;
	color: #ffffff;
	transition: 0.3s;
}
.header .header__nav li a:last-child {
	padding-right: 0px;
}
.header .header__nav li a:hover {
	color: #129637;
}

.header__hamburger {
	padding: 10px;
	cursor: pointer;
	display: none;
	opacity: 0;
	visibility: hidden;
}
.mobile__menu {
	display: none;
}
.header--sticky {
	background: #f4f4f4;
	height: 70px;
	color:#333333;
	-webkit-box-shadow: 1px 10px 14px -4px #747474; 
	box-shadow: 1px 10px 14px -4px #747474;
}

/* Sticky Header Start */
.header--sticky .header__logo {
	color: #333333;
}
.header--sticky .header__nav li a {
	color: #333333;
}
.header--sticky .header__nav li a:hover {
	color: #129637;
}
/* Sticky Header End */

/* Header End */

/* Email Modal Start */
.email-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
	z-index: 1000;
  background:rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition:  .3s ease-in-out;
  opacity: 0;
}
.email-modal--visible {
  visibility: visible;
  opacity: 1;
}
.email-modal__container {
	background: #ffffff;
	max-width: 700px;
	width: 100%;
	display: flex;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.email-modal__close-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #129637;
	padding: 15px;
	cursor: pointer;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.email-modal .fa-times {
	color: #ffffff;
	font-size: 1.5rem;
}
.email-modal__info {
	padding: 15px;
	width: 100%;
}
.email-modal__info .email-modal__title {
	color: #333333;
	font-size: 2.3rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2rem;
}
.email-modal__info h2 {
	color: #333333;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
.email-modal__message {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 1.2rem;
}
.email-modal__message--highlight {
	color: #129637;
	font-weight: 700;
}
.email-modal__error-message {
	font-size: .9rem;
	margin-bottom: .3rem;
	transition: .3 ease-in-out;
	color: #cc0200;
	display: none;
}
.email-modal__error-message--active {
	display: block;
	transition: .3 ease-in-out;
}
.email-modal__form-group {
	background:rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 0px;
	max-width: 500px;
	margin-bottom: 1.2rem;
}
.email-modal__input {
	font-size: .9rem;
	width: 100%;
	height: 35px;
	padding-left: 7px;
}
.email-modal__input--error {
	border: 2px solid #cc0200;
}
.email-modal__button {
	width: 100px;
	background-color: #129637;
	color: #ffffff;
	cursor: pointer;
	border: none;

}
.email-modal__decline-offer {
	color: #333333;
	cursor: pointer;
	margin-bottom: 1.2rem;
	font-size: .9rem;
	transition: .2s;
}
.email-modal__thank-you {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(18, 150, 56, 1.0);
	background: -webkit-linear-gradient(bottom right, rgba(18, 150, 56, 1.0), rgba(232, 235, 229, 1.0));
	background: -moz-linear-gradient(bottom right, rgba(18, 150, 56, 1.0), rgba(232, 235, 229, 1.0));
	background: linear-gradient(to top left, rgba(18, 150, 56, 1.0), rgba(232, 235, 229, 1.0));
	transform: translate3d(100%,0,0);
	transition: transform .3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #ffffff;
}
.email-modal__thank-you--success {
	transform: translate3d(0,0,0);
	padding: 0 25px;
	text-align: center;
}
.thank-you-title {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 1.2rem;
	opacity: 0;
	transition: opacity .3s ease-in-out .4s;
}
.thank-you-text {
	font-size: 1rem;
	font-weight: 300;
	opacity: 0;
	padding: 0 25px;
	text-align: center;
	line-height: 1.5;
	transition: opacity .3s ease-in-out .7s;
}
.email-modal__thank-you--success .thank-you-title, .email-modal__thank-you--success .thank-you-text {
	opacity: 1;
} 
/* Email Modal End */



/* Hero Start */
.hero {	
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.hero .hero__bg {
	position: absolute;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.hero .hero__content-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background:rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero .hero__content-container .hero__info {
	text-align: center;
	max-width: 700px;
}
.hero .hero__content-container .hero__title {
	font-size: 4rem;
	color: #f4f4f4;
}
.hero .hero__content-container .hero__paragraph {
	font-size: 1.2rem;
	padding: 10px 0px;
	color: #f4f4f4;
}
.hero .hero__content-container .button--hero {
	background: #cc0200;
	color: #f4f4f4;
}
.hero .hero__content-container .button--hero:hover {
	letter-spacing: 3px;
}
/* Hero End */



/* About Section Start */
.about .about__content {
 display: flex;
 justify-content: space-between;
}
.about .about__content .about__column-left {
	width: 47%;
}
.about .about__content .about__column-right {
	width: 47%;
}
.about .about__content .about__column-left .about__title {
	font-size: 2.5rem;
	color: #333333;
	font-weight: 700;
	padding-bottom: 15px;
}
.about .about__content .about__column-left .about__paragraph {
	font-size: 1.2rem;
	color: #333333;
	padding-bottom: 15px;
}
.about .about__content .about__column-left .social-links {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}
.about .about__content .about__column-left .social-links .text {
	font-size: 1.3rem;
	color: #333333;
	font-weight: 700;
}
.about .about__content .about__column-left .social-links .link {
	height: 40px;
	width: 40px;
	background: #ffffff;
	color: #636363;
	font-weight: 600;
	border-radius: 2px;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 7px;
	transition: .3s;
	-webkit-box-shadow: 1px 5px 10px 1px #747474; 
	box-shadow: 1px 5px 10px 1px #747474;
}
.about .about__content .about__column-left .social-links .link:hover {
	background-color: #129637;
	color: #ffffff;
	transform: translateY(-2px);
	-webkit-box-shadow: 1px 5px 10px 1px #747474; 
	box-shadow: 1px 5px 10px 1px #747474;
}
.about .about__content .about__column-right .about__column-right-image {
	height: 425px;
	width: 100%;
	-webkit-box-shadow: 0px 6px 14px 0px #636363; 
	box-shadow: 0px 6px 14px 0px #636363;
}
.about .about__content .about__column-right .about__column-right-image img {
	object-fit: cover;
	object-position: center;
	display: block;
}
/* About Section End */


/* Menu Section Start */
.menu {
	text-align: center;
}
.menu .title-heading p {
	color: #333333;
}
.menu .menu__grid-container {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
	margin: 30px 0;
	align-items: center;
	justify-content: center;
	/* display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap; */
}
.menu .menu__grid-container .box {
	width: 100%;
	border: 15px solid #f4f4f4;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
	transition: transform 0.3s;
}
.menu .menu__grid-container .box:hover {
	filter: grayscale(70%);
}
.menu .menu__grid-container .box .box__image {
	position: relative;
	width: 100%;
	height: 300px;
}

.menu .menu__grid-container .box .box__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.menu .menu__grid-container .box .text {
	padding: 15px;
	background: rgba(0, 0, 0, 0.1);
}
.menu .menu__grid-container .box .text h3 {
	font-weight: 400;
	color: #333333;
}
.menu .button .button--menu {
	width: 100%;
	display: block;
	text-align: center;
}
.menu .button--menu {
	background: #cc0200;
	color: #f4f4f4;
}
.button--menu:hover {
	letter-spacing: 3px;
}
/* Menu Section End */

/* Chefs Section Start */
.chefs .title-heading {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #333333;
}
.chefs .title-heading .title {
	font-size: 4rem;
	text-transform: uppercase;
	color: #333333;
}
.chefs .chefs__content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}
.chefs .chefs__content .box {
	width: 250px;
	margin: 15px;
}
.chefs .chefs__content .box .box__image {
	position: relative;
	height: 300px;
	width: 100%;
}
.chefs .chefs__content .box .box__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.chefs .chefs__content .box .box__text {
	padding: 15px 0 5px;
	text-align: center;
}
.chefs .chefs__content .box .box__text h3 {
	color: #333333;
	font-size: 1.3rem;
	font-weight: 500;
}
/* Chefs Section End */

/* Testimonials Section Start */
.testimonials {
	background: rgba(0, 0, 0, 0.03);
}
.testimonials .testimonials__content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}
.testimonials .testimonials__content .box {
	width: 350px;
	margin: 20px;
	padding: 40px;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.testimonials .testimonials__content .box .box__image {
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}
.testimonials .testimonials__content .box .box__image img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.testimonials .testimonials__content .box .box__text {
	text-align: center;
}
.testimonials .testimonials__content .box .box__text p {
	color: #f4f4f4;
	font-style: italic;
}
.testimonials .testimonials__content .box .box__text h3 {
	margin-top: 20px;
	color: #66ff99;
	font-size: 1.3rem;
	font-weight: 600;
}
/* Testimonials Section End */

/* Footer Start */
.footer {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.8);
	padding: 15px 0px;
}
.footer--mobile {
	display: none;
}
.footer .footer__top-menu {
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}
.footer .footer__top-menu .footer__menu-section {
	display: inline-block;
	margin: 0 50px;
}
.footer .footer__top-menu .footer__menu-section .footer__menu-title {
	font-weight: 500;
	font-size: 1.3rem;
	display: block;
	padding-bottom: 10px;
}
.footer .footer__top-menu .footer__menu-section .footer__menu-list li a {
	font-weight: 300;
	font-size: .9rem;
	display: block;
	padding-bottom: 15px;
	color: #ffffff;
	transition: .2s;
}
.footer .footer__top-menu .footer__menu-section .footer__menu-list li a:hover {
	color: #129637;
}
.footer p {
	text-align: center;
	padding-bottom: 15px;
 }
.footer .footer__social-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .footer__social-links .text {
	font-size: .9rem;
}
.footer .footer__social-links .link {
	height: 25px;
	width: 25px;
	background: #ffffff;
	color: #636363;
	font-weight: 600;
	border-radius: 2px;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	transition: .3s;
}
.footer .footer__social-links .link:hover {
	background-color: #129637;
	color: #ffffff;
	transform: translateY(-2px);
}
/* Footer End */







/* MEDIA QUERIES START */

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1024px) {
	.about .about__content {
		justify-content: space-around;
	}
	.menu .menu__grid-container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* Medium devices (tablets) */
@media (max-width: 991px) {
	.header {
		padding: 0px 10px;
	}
	.header .header__logo {
		font-size: 2.3rem;
	}
	.header .header__nav li a {
		font-size: .9rem;
		padding: 0px 5px;
	}
	.about .about__content {
		flex-direction: column;
		padding-right: 15px;
		padding-left: 15px;
	}
	.about .about__content .about__column-left {
		width: 100%;
		padding-bottom: 15px;
	}
	.about .about__content .about__column-right {
		width: 100%;
	}
	.menu .menu__grid-container {
		padding-right: 15px;
		padding-left: 15px;
	}
}


/* Start Small devices */
@media (max-width: 767px) {
	.header {
		padding: 0px 20px;
	}
	.header .header__nav {
		opacity: 0;
		visibility: hidden;
		display: none;
	}

	/* Mobile Menu Start */
	.header__hamburger {
		padding: 10px;
		cursor: pointer;
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.header__hamburger .fa-bars {
		color: #ffffff;
		font-size: 2rem;
	}
	.header--sticky .header__hamburger .fa-bars {
		color: #333333;
	}
	.mobile__menu {
		position: fixed;
		z-index: 9999;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background:rgba(0,0,0,.8);
		transform: translate3d(-100%,0,0);
		transition: opacity .3s ease-in-out;
		opacity: 0;
		visibility: hidden;
		display: none;
	}
	.mobile__menu--open {
		opacity: 1;
		visibility: visible;
		display: block;
		overflow-y: auto;
		transform: translate3d(0,0,0);
	}
	.mobile__menu-inner {
		width: 400px;
		z-index: 999;
		position: absolute;
		height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #f4f4f4;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.mobile__menu-top {
		position: relative;
		height: 70px;
		padding: 0px 10px;
	}
	.mobile__menu-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.mobile__menu-logo {
		color: #333333;
		font-size: 2.5rem;
	}
	.mobile__menu-close-btn {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #333333;
		cursor: pointer;
		transition: .3s ease-in-out;
		-webkit-box-shadow: 1px 10px 14px -4px #747474; 
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.mobile__menu-close-btn .fa-times {
		color: #ffffff;
		font-size: 1.3rem;
	}
	.mobile__menu-content {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.mobile-nav li {
		display: block;
		margin: 15px 0px;
		padding-bottom: 10px;
		border-bottom: .5px solid rgba(0, 0, 0, 0.1);
	}
	.mobile-nav li a {
		color: #333333;
		font-weight: 500;
		font-size: 1.2rem;
	}
	/* Mobile Menu End */

	/* Email Modal */
	.email-modal {
		height: calc(100vh - 200px);
	}

	.menu .title-heading .title,
	.chefs .title-heading .title,
	.testimonials .title-heading .title
	 {
		font-size: 3rem;
	}
	/* Footer Mobile Start */
	.footer {
		display: none;
	}
	.footer--mobile {
		color: #ffffff;
		background: rgba(0, 0, 0, 0.8);
		padding: 15px 0px;
		display: block;
	}
	.footer--mobile .footer-mobile__accordian {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.footer--mobile .footer-mobile__menu {
		padding: 0px 10px;
		margin-bottom: 15px;
	}
	.footer--mobile .footer-mobile__accordian .footer-mobile__menu .footer-mobile__toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		background-color: #242222;
		padding: 10px;
		border: none;
		outline: none;
		width: 100%;
		transition: .3s ease-in-out;
	}
	.footer--mobile .footer-mobile__accordian .footer-mobile__menu .footer-mobile__title {
		color: #ffffff;
		font-size: 1.3rem;
	}
	.footer--mobile .footer-mobile__accordian .footer-mobile__menu .footer-mobile__icon {
		padding: 7px;
		color: #ffffff;
	}
	.footer--mobile .footer-mobile__accordian .footer-mobile__menu .footer-mobile__content {
		position: relative;
		line-height: 25px;
		height: 0px;
		overflow: hidden;
		transition: all .3s;
	}
	.footer--mobile .footer-mobile__accordian .footer-mobile__menu .footer-mobile__content li a {
		color: #ffffff;
		display: block;
		padding: 7px;
		border-bottom: 1px dashed #747474;
	}
	.footer--mobile p {
		text-align: center;
		padding-bottom: 15px;
	}
	.footer--mobile .footer__social-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__social-links .text {
		font-size: .9rem;
	}
	.footer--mobile .footer__social-links .link {
		height: 25px;
		width: 25px;
		background-color: #129637;
		color: #ffffff;
		font-weight: 600;
		border-radius: 2px;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		transition: .3s;
	}
	/* Footer Mobile End */
}
/* End Small devices (portrait tablets and large phones, 767px) */

/* Small devices (portrait tablets and small phones, 414px) */
@media (max-width: 414px) {
	.header {
		padding: 0px 10px;
	}
	.header .header__nav {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
	/* Mobile Menu Start */
	.mobile__menu-inner {
		width: 350px;
	}
	/* Mobile Menu End */

	/* Email Modal */
	.email-modal {
		display: none;
	}

	.hero .hero__content-container .hero__paragraph {
		padding: 12px;
	}
	.about .about__content .about__column-left .about__paragraph {
		padding-bottom: 2rem;
	}
	.menu .title-heading .title,
	.chefs .title-heading .title,
	.testimonials .title-heading .title
	 {
		font-size: 2.5rem;
	}

}




